.DS_Store
AADSCourseProject/.idea
AADSCourseProject/back/HowTo/HowTo/howto.db
AADSCourseProject/back/HowTo/HowTo/howto.db-shm
AADSCourseProject/back/HowTo/HowTo/howto.db-wal
AADSCourseProject/devops/prod/build.zip
AADSCourseProject/devops/prod/build
AADSCourseProject/front/.DS_Store
AADSCourseProject/front/how-to-ui/package-lock.json
NeuralNetworks/neural_tetwork_dump
NeuralNetworks/.idea
OOP/build
AADSCourseProject/front/.DS_Store
AADSCourseProject/front/.DS_Store
